body
{
	    position: relative;
    height: auto;
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    width: 900px;
}

#informations{
	width: 30%;
	background-color: #FF9800;
	display: flex;
    flex-direction: column;
}

#informations section div h3{
	text-align: center;
	background-color: #455A64;
    color: #FF9800;
}


.infos{
	text-align: center;;
	height: 10%;
}

.infos img{
	width: 80%;
    border-radius: 100%;
}

#contact{
}

#contact div{
	display: flex;
    flex-direction: column;
    height: 100%;
}

#contact div p{
	margin-left: 15px;
}

.sousContact{
	    margin: auto;
}

.about{
	display: flex;
    flex-direction: column;
}

.about div:nth-child(2){
    width: 80%;
    text-align: justify;
    margin: auto;
}

.hobbies figure{
	text-align: center;
}

.hobbies figure i{
	font-size: 35px;
    padding: 8px;
    color: grey;
}

#expAndTrain{
	width: 70%;
	display: flex;
    flex-direction: column
}

#expAndTrain header{
	margin-left: 7%;
	font-size: 24px;
}

#expAndTrain header h1 span{
	color: #FF9800;
}

#expAndTrain header h3{
    color: #455A64;
}

#expAndTrain header h3 span{
    text-decoration: underline;
    text-decoration-color: #FF9800;
    font-style: italic;
}

.myTitle{
	    margin-left: 3%;
    border-bottom: 2px solid #f0972a;
    margin-right: 3%;
}


.myTitle h2{
	 color: #455A64;
	 margin:0;
}

.myTitle h2 i{
	color:#FF9800;
	margin-right: 15px;
}

.articleFormation{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.articleFormation div:nth-child(1){
	width: 30%;
}

.articleFormation div:nth-child(2){
	width: 40%;
}

.articleFormation div:nth-child(2) h2{
	font-size: 17px;
}

.articleExp{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.articleExp div:nth-child(1){
	width: 30%;
}

.articleExp div:nth-child(2){
	width: 70%;
}

.articleExp div:nth-child(2) ul{
	width: 100%;
}

.articleExp div:nth-child(2) h4,h5{
	font-weight: bold;
	font-size: 15px;
}

#recommandation div:nth-child(2){
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.articleReco{
	width: 50%;
	text-align: center;
}

ul
{
    list-style: none;
}

#pro div:nth-child(1) ul li i
{
	color: #FF9800;
	margin-right: 0.5em;
	font-size: 13px;
}

#formation div:nth-child(1) ul li i
{
	color: #FF9800;
    margin-right: 0.5em;
	font-size: 13px;
}

.hobbies figure i:nth-child(1)
{
   border: 3px solid #455A64;
   border-radius:27px;
   padding: 7px;
   font-size: 30px;
}

.hobbies figure i:nth-child(2)
{
   border: 3px solid #455A64;
   border-radius:30px;
   padding: 7px;
   font-size: 30px;
}

.hobbies figure i:nth-child(3)
{
   border: 3px solid #455A64;
   border-radius:25px;
   padding: 7px;
   font-size: 30px;
}	

/* ---------------------- media queries ------------------------ */

@media screen and (max-width: 900px) {
	body{
		flex-direction: column;
		width: 100%;
	}
	#informations{
		width: 100%;
	}

	.about div:nth-child(2) {
    	width: 60%;
	}
	#expAndTrain{
		width: 100%;
	}
	.infos img{
		width: 30%;
	}

	#expAndTrain header {
    	margin: auto;
    	text-align: center;
	}

	#contact{
		text-align: center;
	}

	.articleExp div:nth-child(2) ul {
    	width: 80%;
	}
	.myTitle h2 {
		text-align: center;
	}

}

@media screen and (max-width: 820px) {

	.articleFormation {
		flex-direction: column;
	}
	.articleFormation div:nth-child(1) {
    /* width: 30%; */
    margin: auto;
    text-align: center;
	}

	.articleFormation div:nth-child(1) ul {
    padding: 0;
        text-align: center;
	}

	.articleFormation div:nth-child(2) {
    /* width: 40%; */
    margin: auto;
    text-align: center;
	}

	.articleExp {
		flex-direction: column;
	}
	.articleExp div:nth-child(1) {
    /* width: 30%; */
    margin: auto;
    text-align: center;
	}

	.articleExp div:nth-child(1) ul {
    padding: 0;
    
    text-align: center;
	}

	.articleExp div:nth-child(2) ul {
    text-align: left;
	}

	.articleExp div:nth-child(2) {
    /* width: 40%; */
    margin: auto;
    text-align: center;
	}

	#recommandation div:nth-child(2) {
    flex-direction: column;
	}

	.articleReco{
		margin:auto;
		width: 25%;
	}

}